body{
text-align: center;
}

#buttons_table{
height:90px;
width:400px;
margin-bottom:30px;
}

#group_first{
width:30%;
float:left;
border:3px solid grey;   
border-radius: 15px ;
background-color: green;
}

#group_center{
width:30%;
border:3px solid grey;   
border-radius: 15px;
float:left;
background-color: red;
}

#group_last{
width:30%;
float:left;
border:3px solid grey; 
border-radius: 15px ;
background-color: blue;
}

#container_table{
padding: 30px 100px 30px 100px;
}

.table_change{
margin:0 auto;
}

.working_place{
overflow: auto;
}
.working_row{
height:15px;
width:30px;
border:3px solid grey;
}

td{
height:15px;
width:30px;
border:3px solid grey;
}

.firstadd_row{
height:15px;
width:30px;
border:3px solid grey;
background-color:green;
}

.centeradd_row{
height:15px;
width:30px;
border:3px solid grey;
background-color:red;
}

.lastadd_row{
height:15px;
width:30px;
border:3px solid grey;
background-color:blue;
}