body{
text-align: center;
}

#buttons_table{
height:90px;
width:400px;
margin-bottom:30px;
}

#group_first{
width:30%;
float:left;
border:3px solid grey;   
border-radius: 15px ;
background-color: green;
}

#group_center{
width:30%;
border:3px solid grey;   
border-radius: 15px;
float:left;
background-color: red;
}

#group_last{
width:30%;
float:left;
border:3px solid grey; 
border-radius: 15px ;
background-color: blue;
}

#container_table{
padding: 30px 100px 30px 100px;
}

.working_place{
overflow: auto;
empty-cells:show;
}

.working_row{
empty-cells:show;
}

.working{

height:5px;
width:10px;
border:3px solid grey;

}

.add_row{

height:5px;
width:10px;
border:3px solid grey;

empty-cells:show;
background-color:red;

}
.firstadd_row{
height:5px;
width:10px;
border:3px solid grey;
background-color:green;
empty-cells:show;
}
.centeradd_row{
height:5px;
width:10px;
border:3px solid grey;
background-color:red;
empty-cells:show;


}

.lastadd_row{
height:5px;
width:10px;
border:3px solid grey;
background-color:blue;
empty-cells:show;


}


#table_change{


margin:0 auto;
}


.add_column{

height:5px;
width:10px;
border:3px solid grey;

empty-cells:show;
background-color:red;
empty-cells:show;
}